.ImageButton {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  box-sizing: border-box;
  transition: background-color 0.7s ease;
  margin: 5px 2px;
}

.ImageButton:hover {
  background-color: rgba(255, 255, 255, 0.3);
}