@import '../../../settings/Settings';

.TopNavigationBar {
  align-self: stretch;
  height: $topNavigationBarHeight;
  background-color: $darkThemeFirstColor;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.2);

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;

  .TopNavigationBarWrapper {
    padding: 0 $sideNavigationBarCompanionWidth;
    color: white;
    align-self: stretch;
    flex: 1;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;

    .NavigationBarGroupWrapper {
      align-self: stretch;

      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
    }

    .ProjectName {
      font-weight: 700;
      margin-right: 10px;
    }

    .TextInput {
      max-width: 200px;
      height: 25px;

      > input {
        padding-top: 3.5px;

        &:focus {
          outline: none;
          color: $secondaryColor;

          ~ .Bar {
            background-color: $secondaryColor;
            height: 1px;
          }
        }
      }

      .Bar {
        height: 0;
      }
    }

    .Header {
      align-self: stretch;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      cursor: pointer;

      > img {
        width: 25px;
        height: 25px;
        margin-right: 5px;
        user-select: none;
      }

      font-weight: 900;
      user-select: none;
    }
  }
}
