@import '../../settings/_Settings';

.MainView {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  background-image: linear-gradient(to top right, $primaryColor, $secondaryColor);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;

  &.InProgress {
    .LeftColumn {
      width: 20%;
      transition: width 2s ease-in-out;
    }

    .EditorFeaturesWrapper {
      opacity: 0;
      transition: opacity 0.7s ease-in-out;
    }
  }
}

.LeftColumn {
  position: relative;
  background-color: black;
  padding: 20px;

  transition: width 2s ease-out;
  min-width: 300px;
  align-self: stretch;
  width: 75%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

  .LogoWrapper {
    align-self: stretch;
    > img {
      width: 250px;
      margin-bottom: 20px;
    }
  }

  .EditorFeaturesWrapper {
    flex: 1;
    opacity: 1;
    transition: opacity 0.7s ease-in-out;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
  }

  .Triangle {
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -100px;
    background-color: transparent;
    overflow: hidden;
  }
  .TriangleContent{
    width: 100px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: skew(-6deg) translateX(-50%);
    background-color: black;
  }
}

.RightColumn {
  padding: 20px;
  align-self: stretch;
  flex: 1;
  min-width: 200px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-start;
}

.EditorFeaturesTiles {
  flex: 1 0 26%;
  min-width: 200px;
  height:200px;
  color: white;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  .EditorFeatureLabel {
    width: 180px;
    text-align: center;
    user-select: none;
  }

  > img {
    filter: brightness(0) invert(1);
    max-width: 70px;
    max-height: 70px;
    margin-bottom: 20px;
  }
}