@import '../../../../settings/Settings';

.ImagePreview {
  position: absolute;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  border-bottom: solid 1px $darkThemeFirstColor;
  &:nth-child(odd) {
    border-right: solid 1px $darkThemeFirstColor;
  }

  .Foreground {
    position: absolute;
    z-index: 100;
    transition: transform 0.3s;

    .Image {
      position: absolute;
      left: 0;
      top: 0;
      border: solid 1px $darkThemeSecondColor;
      user-select: none;
    }

    .annotations-count {
      position: absolute;
      z-index: 1000;
      width: 24px;
      height: 24px;
      bottom: -12px;
      left: -12px;
      border-radius: 2px;
      background-color: $secondaryColor; // fallback if new css variables are not supported by browser
      background-color: var(--leading-color);
      color: white;
      font-weight: 700;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .Background {
    position: absolute;
    z-index: 0;
    background-color: $darkThemeThirdColor;
    transition: background-color 0.3s ease-in-out, transform 0.3s;
  }

  &.selected {
    .Foreground {
      transform: translate(-2px, 2px);
    }
    .Background {
      transform: translate(2px, -2px);
      background-color: $secondaryColor; // fallback if new css variables are not supported by browser
      background-color: var(--leading-color);
    }
  }

  &:hover {
    .Foreground {
      transform: translate(-2px, 2px);
    }
    .Background {
      transform: translate(2px, -2px);
    }
  }
}
