@import '../../../settings/Settings';

.LabelInfoPopupContent {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    min-height: 300px;
}

.AttributeContainer {
    display: flex;
    align-self: stretch;
    flex: 1;
    flex-direction: row;
}

.AttributeName {
    display: flex;
    flex: 1;
    align-self: stretch;
    color: white;
    font-size: 15px;
    padding: 0 40px 30px 40px;
    border-bottom: solid 1px $darkThemeFirstColor;
}

.AttributeSelector {
    display: flex;
    flex: 2;
    align-self: stretch;
    flex-wrap: wrap;
    max-height: 28px;
    .title {
        color: white;
    }

    // .TagButton {
    //     margin-left: 20px;
    //     margin-bottom: 5px;
    //     color: white; // fallback if new css variables are not supported by browser
    //     color: var(--button-text-color);

    //     &:hover {
    //         background-color: transparent;
    //         color: $secondaryColor; // fallback if new css variables are not supported by browser
    //         color: var(--leading-color);
    //     }

    //     &.active {
    //         background-color: $secondaryColor; // fallback if new css variables are not supported by browser
    //         background-color: var(--leading-color);
    //         box-shadow: $secondaryColor 0 0 0 2px inset; // fallback if new css variables are not supported by browser
    //         box-shadow: var(--leading-color) 0 0 0 2px inset;
    //     }

    //     &.disabled {
    //         box-shadow: $darkThemeThirdColor 0 0 0 2px inset;
    //         background-color: $darkThemeThirdColor;
    //         cursor: default;
    //         opacity: 0.6;

    //         &:hover {
    //             box-shadow: $darkThemeThirdColor 0 0 0 2px inset;
    //             background-color: $darkThemeThirdColor;
    //             color: white;
    //         }
    //     }
    // }
}
