@import '../../../settings/Settings';

.LabelInfoPopupContent {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    min-height: 300px;
}

.AttributeContainer {
    display: flex;
    align-self: stretch;
    flex: 1;
    flex-direction: row;
}

.AttributeName {
    display: flex;
    flex: 1;
    align-self: stretch;
    color: white;
    font-size: 15px;
    padding: 0 40px 30px 40px;
    border-bottom: solid 1px $darkThemeFirstColor;
}

.AttributeSelector {
    display: flex;
    flex: 2;
    align-self: stretch;
    flex-wrap: wrap;
    max-height: 28px;
    .title {
        color: white;
    }
}
.SampleImage {
    position: absolute;
    bottom: 10px;
    left: 40px;
    width: 100px;
    height: 100px;
}
