@import '../../../settings/Settings';

.LabelInfoPopupContent {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    min-height: 300px;
    max-height: 650px;
    overflow-y: auto;
}

.AttributeContainer {
    display: flex;
    align-self: stretch;
    max-height: 5em;
    flex-direction: row;
}

.AttributeName {
    display: flex;
    flex: 1;
    align-self: stretch;
    color: white;
    font-size: 15px;
    padding: 0 40px 30px 40px;
    border-bottom: solid 1px $darkThemeFirstColor;
}

@mixin score($isFlag) {
    font-size: 15px;
    @if ($isFlag) {
        color: red;
    } @else {
        color: green;
    }
}
.AttributeScore {
    @include score($isFlag: false);
}
.AttributeScoreFlag{
    @include score($isFlag: true);
}

.AttributeSelector {
    display: flex;
    flex: 2;
    align-self: stretch;
    flex-wrap: wrap;
    max-height: 28px;
    .title {
        color: white;
    }
}
.SampleImage {
    position: absolute;
    bottom: 1em;
    left: 1em;
    max-width: 230px;
    max-height: 230px;
}
.IconItem {
    display: flex;
    flex: 1;
    // justify-content: center;
    align-items: center;

    .ItemTitle {
        margin-left: 1em;
    }
}
