@import '../../../settings/Settings';

.Editor {
  align-self: stretch;
  flex: 1;
  position: relative;

  .ImageCanvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  .MousePosition {
    position: absolute;
    color: white;
    font-size: 12px;
    background-color: $darkThemeThirdColor;
    opacity: 0.6;
    padding: 5px;
    user-select: none;
    pointer-events: none;
  }
}