@import '../../../settings/Settings';

.Editor {
  align-self: stretch;
  flex: 1;
  position: relative;

  .ImageCanvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  .MousePosition {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 12px;
    background-color: $darkThemeThirdColor;
    opacity: 0.6;
    padding: 5px;
    user-select: none;

    &:active {
      pointer-events: none;
    }

    &:hover {
      opacity: 0;
    }
  }
}