.InsertLabelNamesPopup {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  align-self: stretch;
  height: 500px;
}