.RectLabelsList {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    .RectLabelsListContent {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
    }
    .ItemContainer {
        display: flex;
        flex-direction: row;
        // justify-content: center;
        align-items: center;
        margin-left: 5px;
    }
    .Item {
        align-self: center;
    }
    .ItemIcon {
        width: 24px;
        height: 24px;
        // border-radius: 20%;
        margin-left: 2px;
        margin-right: 2px;
    }
}
