@import '../../../settings/Settings';

.TopNavigationBar {
  align-self: stretch;
  height: $topNavigationBarHeight;
  background-color: $darkThemeSecondColor;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.2);
}