.LoadLabelsPopupContent {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  .Message {
    align-self: stretch;
    color: black;
    margin-bottom: 25px;
    font-size: 15px;
  }

  .DropZone {
    user-select: none;
    align-self: stretch;
    height: 200px;
    box-shadow: black 0 0 0 2px inset;
    border-radius: 4px;
    margin-bottom: 6px;

    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;

    outline: none;

    > img {
      max-width: 60px;
      max-height: 60px;
      margin-bottom: 10px;
    }

    > input {
      outline: none;
    }

    > p {
      margin-top: 2px;
      margin-bottom: 0;

      &.extraBold {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}