@import '../../../settings/Settings';

.StateBar {
  align-self: stretch;
  height: $stateBarHeight;
  background-color: $darkThemeSecondColor;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;

  .done {
    align-self: stretch;
    width: 30%;
    background-color: $secondaryColor;
  }
}