@import '../../../settings/Settings';

.ToolBox {
  align-self: stretch;
  width: $toolboxWidth;

  border-right: solid 1px $darkThemeFirstColor;
  background-color: $darkThemeSecondColor;

  &.with-context {
    background-color: $darkThemeForthColor;
  }

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  padding: 3px 0;

  .ImageButton {
    transition: transform 0.3s;

    img {
      filter: brightness(0) invert(1);
    }

    &:hover {
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &.active {
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}