@import '../../settings/_Settings';

.MobileMainView {
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  background-image: linear-gradient(to top right, $primaryColor, $secondaryColor);

  .MobileMainViewContent{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    justify-items: center;

    .TopRow {
      align-self: stretch;
      position: relative;
      height: 600px;
      background-color: $darkThemeSecondColor;

      .TriangleHorizontal {
        height: 200px;
        width: 100%;
        position: absolute;
        bottom: -200px;
        background-color: transparent;
        overflow: hidden;

        .TriangleHorizontalContent{
          height: 200px;
          width: 100%;
          position: absolute;
          left: 0;
          top: -100px;
          transform: skew(96deg) translateY(50%);
          background-color: $darkThemeSecondColor;
        }
      }
    }

    .BottomRow {
      align-self: stretch;
      height: 500px;
    }
  }
}