@import '../../../settings/Settings';

.GenericYesNoPopup {
    margin-top: auto;
    margin-bottom: -22px;
    padding: 41px 70px;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.58);
    border-radius: 11.0791px;
    max-width: 575.58px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;

    .Content {
        align-self: stretch;
        font-size: 14px;
      
        flex: 1;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .Footer {
       
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        align-content: flex-end;

        .TextButton {
            margin-left: 20px;
            background: #FF7DA9;
            border-radius: 9.23261px;
            color: #FFFFFF;
            font-style: normal;
            font-weight: 400;
            font-size: 18.4652px;
            line-height: 22px;
            min-width: 210px;
            text-align: center;
            padding: 12px;
            box-shadow: unset;
            border: 1px solid #FF7DA9;
            &:hover {
                background: #FFFFFF !important;
                color: #000000 !important;
                border: 1px solid #000000 !important;
            }

            &.disabled {
                box-shadow: $darkThemeThirdColor 0 0 0 2px inset;
                background-color: $darkThemeThirdColor;
                cursor: default;
                opacity: 0.6;

                &:hover {
                    box-shadow: $darkThemeThirdColor 0 0 0 2px inset;
                    background-color: $darkThemeThirdColor;
                    color: white;
                }
            }
        }

        .TextButton.reject{
            background: #26D7FF;
            border: 1px solid #26D7FF;
        }
    }
}
