.ExportLabelPopupContent {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  .Message {
    align-self: stretch;
    color: black;
    margin-bottom: 25px;
    font-size: 15px;
  }

  .Options {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    .OptionsItem {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;

      cursor: pointer;
      user-select: none;
      font-size: 15px;
      color: black;
      padding: 5px 0;

      > img {
        max-width: 20px;
        max-height: 20px;
        margin-right: 5px;
      }
    }
  }
}