$darkThemeFirstColor: #282828;
$darkThemeSecondColor: #171717;
$darkThemeThirdColor: #4c4c4c;

$primaryColor: #33d1e5;
$secondaryColor: #39f5c2;
//$secondaryColor: #ff3365;

$topNavigationBarHeight: 35px;
$stateBarHeight: 2px;
$sideNavigationBarCompanionWidth: 20px;
$sideNavigationBarContentWidth: 300px;
$bottomNavigationBarHeight: 45px;