$darkThemeFirstColor: #171717;
$darkThemeSecondColor: #282828;
$darkThemeThirdColor: #4c4c4c;

//$primaryColor: #33d1e5;
//$secondaryColor: #39f5c2;

//$primaryColor: #5ee7df;
//$secondaryColor: #b490ca;

$primaryColor: #2af598;
$secondaryColor: #009efd;

$topNavigationBarHeight: 35px;
$stateBarHeight: 2px;
$sideNavigationBarCompanionWidth: 20px;
$sideNavigationBarContentWidth: 300px;
$bottomNavigationBarHeight: 45px;